<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="Generator" content="EditPlus®">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title><%= htmlWebpackPlugin.options.title %></title>
 </head>
 <body>
    <div id="banner"></div>
 </body>
</html>
