<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="Generator" content="EditPlus®">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <link href="../css/css.css" rel="stylesheet">
  <script type="application/javascript">
  	/*引入公共js文件*/
  	<%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>//过滤publicPath
  </script>

 </head>
 <body>
	<%= htmlWebpackPlugin.options.date %>
	<!--通用模板-->
  <% for(key in htmlWebpackPlugin.files.chunks){ %>
	<% if(key !== 'main'){ %>
	<script type="application/javascript" src="<%= htmlWebpackPlugin.files.chunks[key].entry%>"></script>
	<% } %>
  <% } %>
 </body>
</html>
